<div class="read-me">
    <h2> Welcome to the app demonstrating my use of RESTful API</h2>
    <ul>
        <li> The Angular5 SPA displays two different usecases of data from iTunes APi </li>
        <li> Angular Material was used for styling purposes </li>
        <li> Flexbox and BEM class naming was used in Ebooks component </li>
        <li> Table in Songs component can be paginated, filtered and sorted </li>
        <li> Error handling is provided using Angular ErrorHandler </li>
    </ul>
</div>